<!DOCTYPE html>
<html lang="en">

<head>
  <title>Master Crypto - Agregar Post</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
  <h1 style="text-align:center">Nueva publicación</h1>
  </nav>
  <br>



  <div class="container">
    <form method="post">
      {# This hidden_tag is a CSRF security feature. #} {{ form.hidden_tag() }} {{ form.csrf_token }}

      <div class="form-group">
        {{ form.title.label (class='form-group', style="color:black") }} {{ form.title (class='form-control', required="true") }}
      </div>

      <div class="form-group">
        {{ form.subtitle.label (class='form-group', style="color:black") }} {{ form.subtitle (class='form-control', required="true") }}
      </div>

      <div class="form-group">
        {{ form.photo_url.label (class='form-group', style="color:black") }} {{ form.photo_url (class='form-control', required="true") }}
      </div>

      <div class="form-group">
        {{ form.status.label (class='form-group', style="color:black") }} {{ form.status (class='form-control', required="true") }}
      </div>

      <div class="form-group">
        {{ form.content.label (class='form-group', style="color:black") }}
        {{ form.content (id="summernote", required="true") }}
      </div>
      <ul>
        {% for error in form.errors %}
        <li style="color:red"> {{ error }} </li>
        {% endfor %}
      </ul>
      <br>


      <div class="form-group">
        {{form.submit(class='btn btn-primary btn-lg btn-block')}}
      </div>
    </form>
  </div>
  <script>
    $(document).ready(function() {
      $('#summernote').summernote({
    height: 600,
    minHeight: null,
    maxHeight: null,
    focus: false,
    fontNames: ['Arial']
  });
  $('#summernote').summernote('fontName', 'Arial');
  $('#summernote').summernote('fontSize', 16);
    });
  </script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
